<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	<title>XSD to HTML Tree</title>

	<link rel="stylesheet" href="../html/css/jquery.treeview.css" />
	<link rel="stylesheet" href="../html/css/screen.css" />

	<script src="../html/script/jquery.min.js"></script>
	<script src="../html/script/jquery.cookie.js"></script>
	<script src="../html/script/jquery.treeview.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#gray").treeview({
				collapsed: true,
				control: "#treecontrol"
			});				
		});	
	</script>
 	
	</head>
	<body>
		<!-- 
		<div id="treecontrol">
			<a title="Collapse the entire tree below" href="#"><img src="../html/images/minus.gif" /> Collapse All</a>
			<a title="Expand the entire tree below" href="#"><img src="../html/images/plus.gif" /> Expand All</a>
		</div>
		 -->
	
		## Renders all parent nodes (path) 
		#macro( parents $node)
		  <span class="path">[#foreach( $parent in $node.parents )$parent.elementName&#47;#end$node.elementName]</span>
		#end

		<ul id="gray" class="treeview-gray">
			#foreach( $node in $nodes )
				## Renders Parent Node
				#if ( $node.parentStart )
					<li>
						<span>$node.elementName #parents( $node )</span>
						<ul>
				#end

				## Renders Child Node
				#if ( $node.child )
					<li>
						<span>$node.elementName #parents( $node )</span>
					</li>
				#end

				## Renders Other Node
				#if ( $node.other )
					<li> XSWildcardDecl $node.elementName</li>
				#end		

				## Renders End of Parent Node
				#if ( $node.parentEnd )		
						</ul>
					</li>
				#end
			#end
		</ul>

	</body>
</html>